.up-fade-in {
  opacity: 0%;
  animation: up-fade-in 1.5s cubic-bezier( 0.33, 0.02, 0.06, 0.99 )  0.5s forwards;
}

@keyframes up-fade-in {
  0% {
    opacity: 0%;
    transform: translate(0, 20%);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

.down-fade-in {
  opacity: 0%;
  animation: down-fade-in 1.5s cubic-bezier( 0.33, 0.02, 0.06, 0.99 )  0.5s forwards;
}

@keyframes down-fade-in {
  0% {
    opacity: 0%;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

.left-fade-in {
  opacity: 0%;
  animation: left-fade-in 1s cubic-bezier( 0.33, 0.02, 0.06, 0.99 )  0.5s forwards;
}

@keyframes right-fade-in {
  0% {
    opacity: 0%;
    transform: translate(20%, 0);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

.right-fade-in {
  opacity: 0%;
  animation: right-fade-in 1s cubic-bezier( 0.33, 0.02, 0.06, 0.99 ) 0.5s forwards;
}

@keyframes left-fade-in {
  0% {
    opacity: 0%;
    transform: translate(-20%, 0);
  }
  100% {
    opacity: 100%;
    transform: translate(0, 0);
  }
}

.zoom-in {
  opacity: 0%;
  animation: zoom-in 1s cubic-bezier( 0.33, 0.02, 0.06, 0.99 )  0.5s forwards;
}

@keyframes zoom-in {
  0% {
    opacity: 0%;
    transform: scale(90%, 90%);
  }
  100% {
    opacity: 100%;
    transform: translate(1, 1);
  }
}

@media (max-width: 700px) {

  .zoom-in {
    opacity: 0%;
    animation: zoom-in 0s forwards;
  }

  @keyframes zoom-in {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 100%;
    }
  }
  
}


.line-animation {
  width: 0;
  animation: line-animation 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
}

@keyframes line-animation {
  0% {
    width: 0;
    transform: scale(90%, 90%);
  }
  100% {
    width: 100px;
  }
}

/*animated scroll arrow animation*/

.ease-in-out {
  -webkit-animation: ease_in_out 2s ease-in-out infinite;
  -moz-animation: ease_in_out 2s ease-in-out infinite;
  animation: ease_in_out 2s ease-in-out infinite;
}

@-webkit-keyframes ease_in_out {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes ease_in_out {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes ease_in_out {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
